<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>McSenseWEB</display-name>
	<servlet>
		<description>
		Handles client requests</description>
		<display-name>ClientServlet</display-name>
		<servlet-name>ClientServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.ClientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		Handles the providers read requests</description>
		<display-name>ProviderServlet</display-name>
		<servlet-name>ProviderServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.ProviderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		This process all bank service requests</description>
		<display-name>BankServlet</display-name>
		<servlet-name>BankServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.BankServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TaskServlet</display-name>
		<servlet-name>TaskServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.TaskServlet</servlet-class>
		<init-param>
            <param-name>enablePooling</param-name>
            <param-value>false</param-value>
        </init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PhotoServlet</display-name>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.PhotoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacebookServlet</display-name>
		<servlet-name>FacebookServlet</servlet-name>
		<servlet-class>
		com.mcsense.servlet.FacebookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientServlet</servlet-name>
		<url-pattern>/pages/ClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProviderServlet</servlet-name>
		<url-pattern>/pages/ProviderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BankServlet</servlet-name>
		<url-pattern>/pages/BankServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/pages/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskServlet</servlet-name>
		<url-pattern>/pages/TaskServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/pages/PhotoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacebookServlet</servlet-name>
		<url-pattern>/FacebookServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
